* {
  margin: 0;
  padding: 0;
}


.container {
  max-width: 100%;
}

.navbar{
  display: flex;
  height: 111px;
  width: 570px;
}

.navbar ls{
  list-style: none;
  padding: 0 12px;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-transform: uppercase;
}

.navbar ls:hover{
  border: 2px solid white;
  border-radius: 32px;
  padding: 10px 20px;
}



.bg-img{
  background-image: url("https://t3.ftcdn.net/jpg/04/29/35/62/360_F_429356296_CVQ5LkC6Pl55kUNLqLisVKgTw9vjyif1.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.40);
  background-blend-mode: darken;
  height: 100%;
  width: 100%;
}